body {
    background-image: gradient >.vertical(#4f264c, #FFFFFF);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.homepageheading {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	color: white;
	padding-bottom: 0.5em;
	font-size: 28pt;
}

.footer {
	font-family: 'PT Sans Narrow', sans-serif;
	text-align: center;
	color: white;
	font-size: 13pt;
	padding-top: 2.5em;
	padding-bottom: -2em;
	
}

.moviequiz {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	color: white;
	padding: 0.5em
}

.disclaimer.start {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	color: white;
	font-size: 14pt;
}

.btn.btn-primary.btn-lg.btn-block.startbutton {
	margin: 15px;
	width: 200px;
	height: 70px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Abril Fatface', cursive;
	font-size: 20pt;
	font-color: white;
	background-color: transparent;
	border: 2px solid white;
}


.moviequestion {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	color: white;
	padding-bottom: 0.5em;
}

.container-fluid.alternatives-answers {
	border: none;
	text-align: center;
	align-content: center;
	margin-left: 3px;
	margin-right: 3px;
	padding-top: 1em;
}

.row.answers {
	margin: 0px 60px 0px 60px;
}

.btn.btn-primary.btn-lg.btn-block.answer {
	border-color: white;
	background: transparent;
	margin: 5px;
	width: 170px;
	height: 40px;
	position: center;
	text-align: center;
	font-family: 'Helvetica';
	font-size: 11pt;
	display: inline-block;
}

.hr {
	height: 0;
   	max-height: 10px;
   	font-size: 1px;
   	line-height: 0;
   	clear: both;
   	padding-top: 0.5em
}

.questionnumber {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	color: white;
	padding: 0em;
	font-size: 18pt;
}

.skip1{
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	color: white;
	padding-bottom: 1em;
	font-size: 12pt;
	text-align: center;
	margin: 0px 0px 0px 0px;
}

.skip2 {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	color: white;
	padding-bottom: 1em;
	font-size: 12pt;
	border-bottom: 2px solid white;
	text-align: center;
	padding-bottom: 1px;
}

.alternativanswers {
	border-color: white;
	background: transparent;
	margin: 15px;
	width: 200px;
	height: 100px;
	position: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em;
	font-family: 'Helvetica';
	font-size: 12pt;
}

.btn.btn-primary.btn-lg.btn-block.movie-quiz {
	border: none;
	width: 400px;
	height: 100px;
	margin: 15px;
	position: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(http://assets.uxbooth.com/uploads/2012/07/fightclub.jpg);
	background-size: 100%;
	font-family: 'Abril Fatface', cursive;
	font-size: 24pt;
	border: 1px solid white;

}

.movie-button-text {
	color: white;
	text-shadow: 1px 1px darkgrey;
}

.tv-button-text {
	color: white;
	text-shadow: 1px 1px #605d5d;
}

.btn.btn-primary.btn-lg.btn-block.tv-quiz {
	border: none;
	width: 400px;
	height: 100px;
	margin: 15px;
	position: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-image: url(http://acrossthemargin.com/wp-content/uploads/2015/09/Mad-Men1-1170x658.jpg);
	background-size: 100%;
	font-family: 'Abril Fatface', cursive;
	font-size: 24pt;
	border: 1px solid white;
}



.gradient {
background-size: cover;
    /* IE10+ */ 
background-image: -ms-linear-gradient(top, #67D9F0 0%, #70E5AB 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #67D9F0 0%, #70E5AB 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #67D9F0 0%, #70E5AB 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #70E7FF), color-stop(100, #7DFFBE));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #67D9F0 0%, #70E5AB 100%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom, #67D9F0 0%, #70E5AB 100%);
}
 
.logo {
	font-family: 'Permanent Marker', cursive;
	font-size: 68pt;
	text-align: center;
	color: white;
	padding-top: 0.5em;
}

.logo.smaller {
	font-family: 'Permanent Marker', cursive;
	font-size: 47pt;
	text-align: center;
	color: white;
	padding: 0.5em;
}

.results-header {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	color: white;
}

.score {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	color: white;
	font-size: 70px;
}

.feedback {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	color: white;
	font-size: 30pt;
}
